fastapi
uvicorn
pydantic
python-dotenv
requests
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
pytz
pandas
schedule
groq
aiohttp
websockets
gradio
plotly
numpy
faiss-cpu
async-timeout>=4.0.3