fastapi
uvicorn
pydantic
python-dotenv
requests
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
pytz
pandas
schedule
groq
aiohttp
websockets
gradio
plotly
numpy
faiss-cpu
async-timeout>=4.0.3
aiohttp>=3.9.3


# Core dependencies
huggingface_hub
nltk

# Media interaction dependencies
SpeechRecognition
pyttsx3
sounddevice
soundfile
textblob
matplotlib
torch
transformers